<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="questsEntities" connectionString="metadata=res://*/Databases.Model_quests.csdl|res://*/Databases.Model_quests.ssdl|res://*/Databases.Model_quests.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Users\Jeremy\Documents\Visual Studio 2008\Projects\IcarusBot\IcarusBot\trunk\DataManager\Databases\quests.sqlite&quot;'" providerName="System.Data.EntityClient" /><add name="npcsEntities" connectionString="metadata=res://*/Databases.Model_npcs.csdl|res://*/Databases.Model_npcs.ssdl|res://*/Databases.Model_npcs.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Users\Jeremy\Documents\Visual Studio 2008\Projects\IcarusBot\IcarusBot\trunk\DataManager\Databases\npcs.sqlite&quot;'" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>